:root {
  --primery-color: #bd7048;
  --gray-backgraund-color: rgba(104, 104, 104, 0.5);
  --primery-text-color: #ffff;
  --secondary-text-color: #000000;
  --gray-text-color: #3b3b3b;
  --gray2-text-color: #262626;
  --dark-gray-color: gba(59, 59, 59, 1);
  --dark-gray-a-color: rgba(59, 59, 59, 0.5);
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
* {
  box-sizing: border-box;
}
/* .accordion-items {
  position: relative;
} */
.accordion-btn {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  background: #fafafa;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #262626;
}

.accordion-items {
  position: relative;
  height: 150px;
  margin: 0;
  padding: 0;
}

.accordion-items.closed {
  height: 50px;
}
.accordion-text {
  display: block;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(34px);
}

.show {
  display: none;
}

.accordion-btn::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  width: 49px;
  height: 49px;
  background-image: url(../src/images/plus-circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  display: inline-block;
  min-width: 228px;
  border-radius: 100px;
  padding: 28px 39px;

  font-family: inherit;
  text-decoration: none;

  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;

  border: none;

  background-color: var(--primery-color);
  color: var(--primery-text-color);
  cursor: pointer;
  transition: all linear;
}

.button-select {
  display: inline-flex;
  border: none;
  border-radius: 100px;
  padding: 19px 39px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  align-items: center;
  color: #bd7048;
}
.button-select::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 21px;
  height: 23px;
  vertical-align: middle;
  background-image: url(../src/images/card.svg);
  background-size: contain;
}

button:hover,
button:focus {
  opacity: 0.5;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.header-logo {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header-logo > span {
  color: var(--primery-color);
}

.header-logo .header-logo-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}
.header-nav-list {
  align-items: center;
}
.header-nav-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: var(--gray-text-color);
  text-decoration: none;
}

.header-nav-link:hover {
  font-weight: 600;
  color: var(--primery-color);
}

.header-phope-number {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: var(--dark-gray-color);
  text-decoration: none;
}
.herow {
  background-color: var(--gray-backgraund-color);
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.herow-list {
  display: flex;
  justify-content: space-around;
  background-color: var(--primery-text-color);
  padding: 28px 78px;
  border-radius: 50px;
}
.header-time {
  margin: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-gray-a-color);
}

.herow {
  text-align: center;
}

.herow-title {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: var(--primery-text-color);
}

.herow-items-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--gray2-text-color);
}

.herow-items-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.7);
}

.howitsworks-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #262626;
}

.howitsworks-text {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 1);
}
.howitsworks-after-text {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.7);
}

.services-pre-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #262626;
}

.services-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #262626;
}

.services-after-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.7);
}

.services-after-title > span {
  color: #262626;
}
.services-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}

.services-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #262626;
}
.examples-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  color: #bd7048;
}

.checklist-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #262626;
}

.checklist-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: rgba(38, 38, 38, 0.7);
}

.design-desc {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  color: #262626;
}
.design-items-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #353535;
}

.test {
  background-image: url(../images/section-test-jpg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.test-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
}

.test-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}

.privacy-policy {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 0.5);
}

.copi {
  width: 100vw;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
}
