:root {
  --primery-color: #bd7048;
  --gray-backgraund-color: rgba(104, 104, 104, 0.5);
  --primery-text-color: #ffff;
  --secondary-text-color: #000000;
  --gray-text-color: #3b3b3b;
  --gray2-text-color: #262626;
  --dark-gray-color: gba(59, 59, 59, 1);
  --dark-gray-a-color: rgba(59, 59, 59, 0.5);
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
/******************************************/
.accordion-btn {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 10px;
  width: 100%;
  background: #fafafa;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #262626;
}

.accordion-items {
  position: relative;
  margin: 0 20px;
}

.accordion-items.activ .accordion-text {
  display: block;
  opacity: 1;
}

.accordion-text {
  overflow: hidden;
  position: relative;
  padding-top: 14px;
  padding-bottom: 34px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.accordion-btn::before {
  content: "";

  display: inline-block;

  width: 49px;
  height: 49px;
  background-image: url(../src/images/plus-circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* .accordion-items.activ .accordion-btn::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../src/images/ant-design_plus-circle-outlined.svg);
} */

/****************Button*************************/

.button {
  display: inline-block;
  min-width: 228px;
  border-radius: 100px;
  padding: 28px 39px;

  font-family: inherit;
  text-decoration: none;

  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;

  border: none;

  background-color: var(--primery-color);
  color: var(--primery-text-color);
  cursor: pointer;
  transition: all linear;
}

.button-select {
  display: inline-flex;
  border: none;
  border-radius: 100px;
  padding: 19px 39px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  align-items: center;
  color: #bd7048;
}
.button-select::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 21px;
  height: 23px;
  vertical-align: middle;
  background-image: url(../src/images/card.svg);
  background-size: contain;
}

button:hover,
button:focus {
  opacity: 0.5;
}

/******************************************/

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1176px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*******Header***********/

.header-logo {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header-logo > span {
  color: var(--primery-color);
}

.header-logo .header-logo-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.header-nav-list {
  gap: 48px;
}

.header-nav-link {
  margin-left: 20px;

  display: block;
  padding: 50px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: var(--gray-text-color);
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-link:hover {
  font-weight: 600;
  color: var(--primery-color);
}

.header-phope-number {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: var(--dark-gray-color);
  text-decoration: none;
}

.flex.main-nav {
  display: flex;
  align-items: center;
}

.header-time {
  margin: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-gray-a-color);
}

.nav-aside {
  margin-left: auto;
}
/************HeroW*************/

.herow {
  height: 680px;
  padding-top: 164px;
}

.container.herow-container {
  text-align: center;
  position: relative;
  text-align: center;
}

.herow {
  background-color: var(--gray-backgraund-color);
  background-image: url(../src/images/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.herow-list {
  width: 1176px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0%, 180%);

  background-color: var(--primery-text-color);

  border-radius: 50px;
}

.herow-title {
  width: 846px;
  margin: 0 auto;
  margin-bottom: 42px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: var(--primery-text-color);
}

.herow-items {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 185px;
  padding-top: 68px;
  padding-bottom: 61px;
}

.herow-items-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--gray2-text-color);
}

.herow-items-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.7);
}

.herow-items-img {
  margin-right: 24px;
}
.items-text-wrapp {
  display: flex;
  flex-direction: column;
}

/************Howitsworks*************/

.howitsworks-list {
  display: flex;

  flex-direction: column;
  gap: 73px;
}

.howitsworks-container {
  display: flex;
  flex-direction: row;

  padding-top: 205px;
}
.howitsworks-content {
  width: calc(100% / 2);
}

.howitsworks-title {
  width: 497px;
  margin-bottom: 62px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #262626;
}

.howitsworks-text {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 1);
}
.howitsworks-after-text {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.7);
}

.howitsworks-items {
  display: flex;
}

.items-number {
  display: block;
  width: 134px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;

  color: rgba(189, 112, 72, 0.2);
}
.items-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 311px;
}
.howitsworks-img {
  position: relative;
  width: calc(100% / 2);
  height: 626px;
  background-image: url(./images/01\ 1.jpg);
}
.howitsworks-img-small {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-40%, 20%);
}
/************Services*************/

.services-inner {
  display: flex;
  flex-direction: column;
}

.services-wrapper {
  display: flex;
  flex-direction: row;
}

.services-wrapper-content,
.services-wrapper-img {
  width: calc(100% / 2);
}

.services-list {
  padding: 0;
  margin-bottom: 94px;
}

.services-pre-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #262626;
}

.services-title {
  margin-bottom: 23px;
  padding: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #262626;
}

.services-after-title {
  margin-bottom: 30px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.7);
}

.services-after-title > span {
  color: #262626;
}
.services-text {
  margin-bottom: 40px;
  padding: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}

.services-items {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #262626;
}

/************Examples*************/

.examples-link {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  color: #bd7048;
}

.examples-img {
  display: inline-block;
  vertical-align: middle;
}

/************Checklist*************/
.container.checklist-container {
  padding-top: 164px;
  padding-bottom: 39px;
}
.checklist-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checklist-img-wrapp,
.checklist-content-wrapp {
  width: calc(100% / 2);
}
.checklist-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #262626;
}

.checklist-text {
  margin-bottom: 39px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: rgba(38, 38, 38, 0.7);
}

/************Design*************/

.design-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.design-items-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.design-list + .design-list {
  margin-bottom: 20px;
}
.design-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(49 / 40);
  text-align: center;
  color: #262626;
}
.design-text {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  color: rgba(38, 38, 38, 0.7);
}
.design-desc {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  color: #262626;
}
.design-items-text {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #353535;
}

/************Test*************/

.test {
  height: 489px;
  padding-top: 118px;
  background-image: url(../src/images/image\ 41.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test-title {
  margin-bottom: 27px;
  padding: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
}

.test-text {
  margin-bottom: 35px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}
/************footer*************/
.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
/************Privacy*************/

.privacy-policy {
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 0.5);
}
.footer-nav-link {
  margin: 0;
  padding: 0;
}
/************Copi*************/

.copi {
  width: 100vw;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
}
