@import "../basic/vars";

.button {
  display: inline-block;
  min-width: 228px;
  border-radius: 100px;
  padding: 28px 39px;

  font-family: inherit;
  text-decoration: none;

  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;

  border: none;
  opacity: 1;
  background-color: $primery-color;
  color: $white-color;
  cursor: pointer;
  transition: opacity 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-select {
  display: inline-flex;
  border: none;
  border-radius: 100px;
  padding: 19px 39px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  align-items: center;
  color: #bd7048;
}

.button-select::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 21px;
  height: 23px;
  vertical-align: middle;
  background-image: url(./images/card.svg);
  background-size: contain;
}

button:hover,
button:focus {
  opacity: 0.8;
}
